html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-wrapper {
  padding-bottom: 50px; /* Space for the footer */
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Ensure scrolling for content */
}

.checkout-footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.product-price {
  margin-left: 850px;
  position: relative;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ensures the footer stays on top of content */
}

.footer-spacer {
  flex-grow: 1;
}

.checkout-btn {
  margin-left: 100px;
  
}
