  <!-- Footer Section for Checkout (only visible when viewing order) -->
<div class="checkout-footer" *ngIf="isViewingOrder">
  <div class="footer-content">
      <h2 style="margin-left: 
      750px; position: relative;" class="product-price">Total: ₱{{totalPrice | number: '1.2-2' }}</h2>
    <button mat-raised-button color="accent" class="checkout-btn" (click)="checkoutOrder()">
      Checkout
    </button>
    
  </div>
</div>

  <span>&copy; 2024 My Payroll System. All rights reserved.</span>
  <span class="footer-spacer"></span>



