  <div class="content-wrapper">
    <!-- Content section -->
    <div class="checkout-footer" *ngIf="isViewingOrder">
      <div class="footer-content">
        <h2 class="product-price">Total: ₱{{ totalPrice | number: '1.2-2' }}</h2>
        <button mat-raised-button color="accent" class="checkout-btn" (click)="checkoutOrder()">
          Checkout
        </button>
      </div>
    </div>

    
  </div>
  
  <!-- Footer section -->
  <!-- <footer class="footer">
    
    <span>&copy; 2024 My Payroll System. All rights reserved.</span>
    <span class="footer-spacer"></span>
  </footer>
   -->


