
<div class="container-fixed">

  <div class="description" [@scrollFadeIn]>
    <h2>About Oink Online Market</h2>
    <p>
        Oink Online Market is the premier online destination for pig enthusiasts, farmers, and
        businesses alike. Our goal is to bring together a carefully curated selection of products 
        designed to support the health, growth, and well-being of pigs, while also catering to the needs
        of those who love and care for them. Whether you run a large-scale farm or simply enjoy raising 
        pigs as a hobby, 
        Oink Online Market is here to offer you everything you need in one convenient place.

    </p>

    <h2 >What We Offer:</h2>
    <p>
      1.Premium Pig Feed and Nutrition
      Our selection of top-quality pig feed is designed to meet the nutritional needs of pigs at every 
      stage of life, from piglets to mature sows and boars. We work with trusted suppliers to ensure that
      every product we sell supports optimal health and growth for your animals.

    </p>

   <h2>Health and Wellness Products</h2> 
   <p [@scrollAnimation]>
          We offer a range of supplements, medications, and health care products to keep your pigs 
          in the best shape possible. From vitamins and minerals to disease prevention solutions, 
          we have the products that keep your herd healthy and thriving.

          Farm Equipment and Supplies
          Running a successful farm requires reliable tools and equipment. At Oink Online Market, 
          we stock high-quality farm supplies, including feeders, waterers, housing solutions, and
           more—all designed to help you manage your pigs efficiently and effectively.

          Pig-Themed Merchandise
          For those who simply adore pigs, we offer a wide variety of pig-themed gifts and merchandise. 
          Whether you’re looking for a fun pig statue for your garden, pig-patterned clothing, or cute pig 
          toys for kids, Oink Online Market has something for everyone who loves pigs.

          Expert Advice and Resources
          Alongside our range of products, we’re also committed to helping our customers with expert advice 
          and valuable farming resources. Our blog features guides, tips, and news on pig farming, so you 
          can stay informed and up-to-date with the latest industry trends.
    <p> 


  </div>

   
      <mat-grid-list cols="4" gutterSize="10px" rowHeight="1:1" *ngIf="!isMobile" >
        <mat-grid-tile *ngFor="let stage of pigStages; let i = index">
          <mat-card class="product-card" id="mat-card-{{i}}"
           [@scrollAnimation]>

            <img mat-card-image [src]="getImagePath(stage.imagePath)">
            <mat-card-content>
              <h3 class="text-center">{{ stage.productName }}</h3>
              <p class="text-center">{{ stage.category }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails()">View details</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <!-- Mobile Layout -->
      <div class="d-block d-sm-none">
        <mat-card *ngFor="let stage of pigStages" class="h-100">
          <img mat-card-image [src]="getImagePath(stage.imagePath)">
          <mat-card-content>
            <h3 class="text-center">{{ stage.productName }}</h3>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails()">View Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
     <div class="description" >
            <h2>Why Choose Oink Online Market?</h2>
            <p [@scrollAnimation]>
              Wide Selection of Quality Products
              We pride ourselves on offering only the best products for pigs, carefully selected to ensure quality, safety,  
              and performance.
            </p>
            <p [@scrollAnimation]>
              Fast, Reliable Shipping
              We understand the importance of timely deliveries, which is why we strive to offer fast, reliable shipping to ensure that your pigs get what they need, when they need it.

              Customer-Centric Service
              At Oink Online Market, customer satisfaction is our top priority. Our dedicated support team is always here to answer your questions, provide guidance,
              and make your shopping experience as smooth as possible.
            </p>
      </div>
   
  </div>






