  <mat-accordion class="example-headers-align">
  <!-- Address Panel -->
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Address </mat-panel-title>
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <mat-form-field appearance="standard">
      <mat-label>Current Address</mat-label>
      <input matInput>
    </mat-form-field>

    <!-- Placeholder for Google Map -->
  <!-- Google Map -->
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10090306.646326052!2d123.00806606797892!3d11.444593825278465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sph!4v1728781091086!5m2!1sen!2sph"
   width="300" height="200" style="border:0;" 
  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
 </iframe> -->
    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!-- Destination Panel -->
  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Contact Number </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="standard">
      <mat-label>Mobile No.</mat-label>
      <input matInput [formControl]="mobileNumber" type="tel" placeholder="Enter 11-digit number" maxlength="11" required>
      <mat-error *ngIf="mobileNumber.invalid && mobileNumber.touched">
        Please enter a valid 11-digit mobile number.
      </mat-error>
    </mat-form-field>
    
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()" [disabled]="!isValid()">Next</button>
    </mat-action-row>
    
  </mat-expansion-panel>

  <!-- Date of Trip Panel -->
  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Deliver Date</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field appearance="standard">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Place Order</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
