<div class="chat-window">
    <div class="chat-header">
      <span>Customer Support</span>
      <button mat-icon-button (click)="closeChat()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="chat-body">
      <p>Start your conversation here...</p>
    </div>
    <div class="chat-footer">
      <mat-form-field appearance="standard">
        <input matInput placeholder="Type a message...">
      </mat-form-field>
      <button mat-button color="primary">Send Me</button>
    </div>
  </div>
  