
    
    <mat-card class="product-card">
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
          <br><br>
      <div class="card-content">
       
        <div class="left-content">
          <!-- Product Image -->
          <img src="assets/Letchon.jpg" alt="Product" class="product-image">
        </div>
  
          <!-- Product Details -->
          <div class="product-details">
            <h3 class="product-title">Lechon Pig</h3>
            <p class="product-variations">Variations: yellow, purple</p>
          </div>
            <!-- Price Details -->
            <div class="product-pricing">
              <span class="product-price discount-price">₱219</span>
              <span class="product-price sale-price">₱{{Price}}</span>
            </div>
          <!-- Quantity Selector -->
          <div class="quantity-section">
            <button mat-icon-button (click)="updateQuantity(-1)">
              <mat-icon>remove</mat-icon>
            </button>
            <input matInput type="number" [(ngModel)]="product.quantity" 
            (ngModelChange)="onQuantityInputChange($event)" 
            min="1" class="quantity-input">
            <button mat-icon-button (click)="updateQuantity(1)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
  
          <!-- Action Buttons -->
          <div class="actions">
            <button mat-raised-button class="button-Order" >Order Now
                <span class="material-symbols-outlined">
                    add_shopping_cart
                    </span>
            </button>
          </div>
        
      </div>
    </mat-card>

  