
    
    <mat-card class="product-cards">
        <button mat-icon-button class="close-button" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
          </button>
          <br><br>
      <div class="card-content">
       
        <div class="left-content">
          <!-- Product Image -->
          <img [src]="getImagePath(product?.imagePath)"  class="product-image">
        </div>
  
          <!-- Product Details -->
          <div class="product-details">
            <h3 class="product-title">{{ product?.empName }}</h3>
            <p class="product-variations">{{ product?.address}}</p>
          </div>
            <!-- Price Details -->
            <div class="product-pricing">
              <span class="product-price">₱{{product?.contactNo}}</span>
              <span class="product-price">₱{{totalPrice | number: '1.2-2' }}</span>
            </div>
          <!-- Quantity Selector -->
          <div class="quantity-section">
            <button mat-icon-button (click)="updateQuantity(-1)">
              <mat-icon>remove</mat-icon>
            </button>
            <input matInput type="number" [(ngModel)]="quantity" 
            (ngModelChange)="onQuantityInputChange($event)" 
            min="1" class="quantity-input">
            <button mat-icon-button (click)="updateQuantity(1)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
  
          <!-- Action Buttons -->
          <div class="actions">
            <button  mat-raised-button class="button-Order" (click)="AddToCart()">Order Item
                <span class="material-symbols-outlined">
                    add_shopping_cart
                    </span>
            </button>
          </div>
        
      </div>
    </mat-card>

  