<section class="section">
    <div class="search-div">
      <mat-form-field class="w-40" floatLabel="never" appearance="standard">
        <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" (keyup)="applyFilter()" autocomplete="false">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button type="button" mat-raised-button color="accent" (click)="onClickNew()">
        <mat-icon>add_circle</mat-icon> New
      </button>
    </div>
    
    <div class="container-fixed">
      <!-- <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner> -->
      <mat-table [dataSource]="employee" class="mat-elevation-z4">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{ employee.id }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="empID">
          <mat-header-cell *matHeaderCellDef>ProductID</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{ employee.empID }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="imagePath">
          <mat-header-cell *matHeaderCellDef>Product Image</mat-header-cell>
          <mat-cell *matCellDef="let employee">
              <img 
                  [src]="getImagePath(employee.imagePath)" 
                  alt="{{ employee.imagePath}}" 
                  class="product-image" 
              />
              <span *ngIf="!employee.imagePath">No Image Available</span> <!-- Fallback text -->
          </mat-cell>
      </ng-container>
      
        <ng-container matColumnDef="empName">
          <mat-header-cell *matHeaderCellDef>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{ employee.empName }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{ employee.address }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="contactNo">
          <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
          <mat-cell *matCellDef="let employee">{{ employee.contactNo |number: '1.2-2' }}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let employee">
            <button mat-icon-button color="primary" (click)="editEmployee(employee)"><mat-icon>edit</mat-icon> </button>
            <button mat-icon-button color="warn" (click)="deleteEmployee(employee)"><mat-icon>delete</mat-icon> </button>
          </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
              <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
          </mat-footer-cell>
    </ng-container>
      <ng-container matColumnDef="noData">
    
          <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
              </mat-footer-cell>
          </ng-container>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':!isLoading}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']"  [ngClass]="{'hide': employees.length > 0}"></mat-footer-row>
    
        </mat-table>
        <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons> </mat-paginator>
    </div>
  </section>
  