<section class="section">
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  <h2>{{btnSave}} Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="standard">
      <mat-label>Product ID</mat-label>
      <input matInput placeholder="Input Product ID" formControlName="productId" required />
      <mat-error *ngIf="productForm.get('productId')?.hasError('required')">
        Product ID is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Product Name</mat-label>
      <input matInput placeholder="Input Product Name" formControlName="productName" required />
      <mat-error *ngIf="productForm.get('productName')?.hasError('required')">
        Product Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Category</mat-label>
      <input matInput placeholder="Input Category" formControlName="category" required />
      <mat-error *ngIf="productForm.get('category')?.hasError('required')">
        Category is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Price</mat-label>
      <input matInput type="number" placeholder="Input Price" formControlName="price" required />
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
      <mat-error *ngIf="productForm.get('price')?.hasError('min')">
        Price must be greater than 0
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>AlertQty</mat-label>
      <input matInput type="number" placeholder="Input AlertQty" formControlName="alertQty" required min="1" />
      <mat-error *ngIf="productForm.get('alertQty')?.hasError('required')">
        Alert Quantity is required
      </mat-error>
      <mat-error *ngIf="productForm.get('alertQty')?.hasError('min')">
        Alert Quantity must be greater than 0
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" placeholder="Input Quantity" formControlName="quantity" required min="1" />
      <mat-error *ngIf="productForm.get('quantity')?.hasError('required')">
        Quantity is required
      </mat-error>
      <mat-error *ngIf="productForm.get('quantity')?.hasError('min')">
        Quantity must be greater than 0
      </mat-error>
    </mat-form-field>

    <!-- Product Image Upload -->
    <div class="upload-section">
      <input type="file" (change)="onFileChange($event)" accept="image/*" />
    </div>

    <!-- Optional: Image Preview-->
    <div *ngIf="previewUrl" class="image-preview">
      <img [src]="previewUrl" alt="Image Preview" style="max-width: 50%; height: 100px;" *ngIf="previewUrl; else placeholder"  />
      <ng-template #placeholder>
        <p>No image available.</p>
      </ng-template>
    </div>

    <div class="button-container">
      <button type="submit" mat-raised-button color="primary" [disabled]="productForm.invalid">{{btnSave}}</button>
    </div>
  </form>
</section>
