  <mat-sidenav-container>
    <app-user-page></app-user-page>
</mat-sidenav-container>

  <!-- Main Content Section -->
  <div class="main-content">
    <div class="content-section">
      <!-- Left Section: Description Text -->
      <div class="text-section">
        <p>
          Welcome to Oink’menT, we offer you quality and healthy pigs for backyard farming. We also offer services like sow laboring, butchery, and lechons. Enjoy and be our guest as we create a healthy Oink’ menT environment.
        </p>
      </div>
  
      <!-- Right Section: Image -->
      <div class="image-section">
        <img src="https://t3.ftcdn.net/jpg/06/32/71/42/360_F_632714266_rdRiINnIMZC1SSroLc8e5Tb0sm3jN8i8.jpg" alt="Healthy Pigs">
      </div>
    </div>
  
    <!-- Buy Now Button -->
        <div class="buy-now">
        <button mat-raised-button color="warn">BUY NOW</button>
        </div>
  </div>

