.main-content {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    padding: 40px; /* Add padding to the main content */
    background-color: none; /* White background for main content */
    margin-top: 0px;
}

.content-section {
    display: flex; /* Align text and image in a row */
    align-items: center; /* Center items vertically */
    width: 100%; /* Full width of the parent container */
    margin-top: 0px;
}

.text-section {
    flex: 1; /* Takes up available space */
    padding-right: 20px; /* Space between text and image */
}

.text-section p {
    font-size: 18px; /* Adjusts font size */
    line-height: 1.6; /* Line height for readability */
    color: #000000; /* Gray color for the text */
    font-family: 'Arial', 'Tahome'; /* Font family */
}






@media (max-width: 768px) {
 
}

@media (max-width: 480px) {

}
