  <div class="container-fixed">
    <!-- Desktop & Tablet Grid Layout -->
    <div class="search-div">
      <mat-form-field  floatLabel="never" appearance="standard">
        <input matInput [(ngModel)]="searchKey" [placeholder]="placeHolder" (keyup)="applyFilter()" autocomplete="false">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
        <!-- Shopping Cart Button with Notification Badge -->
        <button mat-icon-button class="material-symbols-outlined"(click)="ViewOrder()" 
            matTooltip="View Order"
            matTooltipClass="example-tooltip-red"
            aria-label="Button that shows a red tooltip"
            class="example-button">
          <mat-icon matBadge="{{notificationCount}}" matBadgeColor="accent" matBadgeOverlap="false">
            shopping_cart
          </mat-icon>
        
        </button>
    </div>
    
    <mat-grid-list cols="4" gutterSize="10px" rowHeight="1:1" class="gap"  *ngIf="!isMobile">
      <mat-grid-tile *ngFor="let stage of pigStages">
        <mat-card class="product-card">
          <img mat-card-image [src]="getImagePath(stage.imagePath)">
          <mat-card-content>
            <h1 class="text-center">{{ stage.productName }}</h1>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails(stage.productName)">View details</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
    <!-- Mobile Layout -->
    <div class="d-block d-sm-none">
      <mat-card *ngFor="let stage of pigStages" class="h-100">
        <img mat-card-image [src]="getImagePath(stage.imagePath)" alt="{{stage.productName}}">
        <mat-card-content>
          <h3 class="text-center">{{ stage.productName }}</h3>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" class="w-100" (click)="ViewDetails(stage.productName)">View Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  