.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ece6ec;
}

.register-form {
  background-color: #ece6ec;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
}

.register-form h1 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #131313;
  text-align: left;
}
mat-label{
  color: rgb(8, 8, 8);
}

  /* Form fields */
  .mat-form-field {
    width: 100%;
    margin-bottom: 1px;
  }
  .mat-form-field input{
   font-size: 14px;
  }
  

  .mat-form-field .mat-form-field-label {
    font-size: 1rem;
    color: #333;
  }
  
  /* Submit button */
  .login-form button {
    width: 100%;
    font-size: 1rem;
    background-color: #1877f2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button{
    width: 100%;
  }
.links {
  margin-top: 1rem;
  text-align: left;
}

.links a {
  color: #000000;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .register-form  {
    padding: 1rem;
    max-width: 100%;
  }

  .register-form  h1 {
    font-size: 18px;
  }

  .register-form  button {
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}